/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #212bf0, #fc5fc7);
  /* normal text font */
  --vp-font-family-base: 'eng', HYWenHei-85W, Avenir, Helvetica, Arial, sans-serif;
}